<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post">

      <input type="text" placeholder="titulo" name="titulo">
      <input type="number" placeholder="puntaje" name="puntaje">
      <input type="date" placeholder="fechaPublicacion" name="fechaPublicacion">

      <input type="number" placeholder="idUsuario" name="idUsuario">

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
